.logo{
margin: 0 auto;
display:block;
}
body {
	font-family: 'Montserrat', sans-serif;
}
nav ul {
	list-style-type: none;
	text-align: center;
	background-color: #efefef;
	padding: 10px 0;
	margin-top: 0;

}
main {
	font-size: .9em;
}
nav li {
	display: inline;
padding: 8px 10px;
border-radius: 3px;

}

nav a {
	text-decoration: none;
	text-transform: uppercase;
}

a:link {
	color: #261109;
}

a:visited {
	color: #261109;
}

a:hover {
	color: #2543CD;
	text-decoration: none;
}

a:active {
	color: black;
}
 #wrapper {

     min-width: 700px;
     max-width:900px;

     margin-left: auto;
     margin-right: auto;
}
/* ----------------------------- */

.container {
  width: 900px;
  height: 700px;

  margin: 5px;

}
.box {
  display: inline-block;
  vertical-align: top;

  margin: 10px;
}
.content {

}


.text {
	  display: inline-block;
  vertical-align: top;
	   word-break:break-all;
 margin-top: 20px;
font-size: .9em;
    padding: 3px 10px 3px 0;
  color: #3F3F3F;
}